USE [master]
GO
/****** Object:  Database [Rento_DB]    Script Date: 12-Jan-26 10:50:43 PM ******/
CREATE DATABASE [Rento_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rento_DB', FILENAME = N'D:\SETUP\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Rento_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rento_DB_log', FILENAME = N'D:\SETUP\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Rento_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rento_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rento_DB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](50) NOT NULL,
	[Renter(ID)] [int] NULL,
	[Host(ID)] [int] NULL,
	[Role] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Property(ID)] [int] NOT NULL,
	[Renter(ID)] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[code] [varchar](10) NULL,
	[name_en] [nvarchar](100) NULL,
	[full_name] [nvarchar](100) NULL,
	[full_name_en] [nvarchar](100) NULL,
	[code_name] [varchar](50) NULL,
	[administrative_unit_id] [int] NULL,
 CONSTRAINT [PK__City__3214EC27936BEA2E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Host]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Host](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[RatingAverage] [float] NULL,
 CONSTRAINT [PK_Host] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Host(ID)] [int] NOT NULL,
	[Ward(ID)] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Street] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Price] [decimal](12, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyImage]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyImage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Property(ID)] [int] NOT NULL,
	[ImageURL] [nvarchar](255) NOT NULL,
	[IsThumbnail] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renter]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Renter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Property(ID)] [int] NOT NULL,
	[Renter(ID)] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 12-Jan-26 10:50:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City(ID)] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[code] [varchar](10) NULL,
	[name_en] [nvarchar](100) NULL,
	[full_name] [nvarchar](100) NULL,
	[full_name_en] [nvarchar](100) NULL,
	[code_name] [varchar](50) NULL,
	[province_code] [varchar](10) NULL,
	[administrative_unit_id] [int] NULL,
 CONSTRAINT [PK__Ward__3214EC2769EF0CA9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserName], [PasswordHash], [Renter(ID)], [Host(ID)], [Role]) VALUES (N'lehuynhtu', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', 1, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [Name], [code], [name_en], [full_name], [full_name_en], [code_name], [administrative_unit_id]) VALUES (1, N'Hà Nội', N'01', N'Ha Noi', N'Thành phố Hà Nội', N'Ha Noi City', N'ha_noi', 1)
INSERT [dbo].[City] ([ID], [Name], [code], [name_en], [full_name], [full_name_en], [code_name], [administrative_unit_id]) VALUES (2, N'Cao Bằng', N'04', N'Cao Bang', N'Tỉnh Cao Bằng', N'Cao Bang Province', N'cao_bang', 2)
INSERT [dbo].[City] ([ID], [Name], [code], [name_en], [full_name], [full_name_en], [code_name], [administrative_unit_id]) VALUES (3, N'Tuyên Quang', N'08', N'Tuyen Quang', N'Tỉnh Tuyên Quang', N'Tuyen Quang Province', N'tuyen_quang', 2)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Renter] ON 

INSERT [dbo].[Renter] ([ID], [FullName], [Email], [PhoneNumber], [CreatedAt]) VALUES (1, N'Huỳnh Tú', N'', N'', CAST(N'2026-01-11T11:37:12.587' AS DateTime))
SET IDENTITY_INSERT [dbo].[Renter] OFF
GO
SET IDENTITY_INSERT [dbo].[Ward] ON 

INSERT [dbo].[Ward] ([ID], [City(ID)], [Name], [code], [name_en], [full_name], [full_name_en], [code_name], [province_code], [administrative_unit_id]) VALUES (1, 1, N'Ba Đình', N'00004', N'Ba Dinh', N'Phường Ba Đình', N'Ba Dinh Ward', N'ba_dinh', N'01', 3)
INSERT [dbo].[Ward] ([ID], [City(ID)], [Name], [code], [name_en], [full_name], [full_name_en], [code_name], [province_code], [administrative_unit_id]) VALUES (2, 1, N'Ngọc Hà', N'00008', N'Ngoc Ha', N'Phường Ngọc Hà', N'Ngoc Ha Ward', N'ngoc_ha', N'01', 3)
INSERT [dbo].[Ward] ([ID], [City(ID)], [Name], [code], [name_en], [full_name], [full_name_en], [code_name], [province_code], [administrative_unit_id]) VALUES (3, 1, N'Giảng Võ', N'00025', N'Giang Vo', N'Phường Giảng Võ', N'Giang Vo Ward', N'giang_vo', N'01', 3)
GO
SET IDENTITY_INSERT [dbo].[Ward] OFF
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Host] ADD  CONSTRAINT [DF__Host__CreatedAt__4D94879B]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT ('AVAILABLE') FOR [Status]
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PropertyImage] ADD  DEFAULT ((0)) FOR [IsThumbnail]
GO
ALTER TABLE [dbo].[PropertyImage] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Host] FOREIGN KEY([Host(ID)])
REFERENCES [dbo].[Host] ([ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Host]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Renter] FOREIGN KEY([Renter(ID)])
REFERENCES [dbo].[Renter] ([ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Renter]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Property] FOREIGN KEY([Property(ID)])
REFERENCES [dbo].[Property] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Property]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Renter] FOREIGN KEY([Renter(ID)])
REFERENCES [dbo].[Renter] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Renter]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Host] FOREIGN KEY([Host(ID)])
REFERENCES [dbo].[Host] ([ID])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Host]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Ward] FOREIGN KEY([Ward(ID)])
REFERENCES [dbo].[Ward] ([ID])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Ward]
GO
ALTER TABLE [dbo].[PropertyImage]  WITH CHECK ADD  CONSTRAINT [FK_PropertyImage_Property] FOREIGN KEY([Property(ID)])
REFERENCES [dbo].[Property] ([ID])
GO
ALTER TABLE [dbo].[PropertyImage] CHECK CONSTRAINT [FK_PropertyImage_Property]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Property] FOREIGN KEY([Property(ID)])
REFERENCES [dbo].[Property] ([ID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Property]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Renter] FOREIGN KEY([Renter(ID)])
REFERENCES [dbo].[Renter] ([ID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Renter]
GO
ALTER TABLE [dbo].[Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_City] FOREIGN KEY([City(ID)])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Ward] CHECK CONSTRAINT [FK_Ward_City]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CHK_Booking_Dates] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CHK_Booking_Dates]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CHK_Booking_Status] CHECK  (([Status]='CANCELLED' OR [Status]='REJECTED' OR [Status]='APPROVED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CHK_Booking_Status]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [CHK_Property_Status] CHECK  (([Status]='INACTIVE' OR [Status]='RENTED' OR [Status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [CHK_Property_Status]
GO
USE [master]
GO
